$color-primary: #58E1C1; // Light Green
$color-default: #51DDFC; // Light Blue
$color-success: #58E1C1; // Green
$color-error: #E4757A; // Red
$color-warning: #FD7856; // Orange
$color-info: #927BC1; // Purple

$color-font: #808080;

$color-grid--12: #80E8D1;
$color-grid--6: #3FABCA;
$color-grid--4: #7EE6FD;
$color-grid--3: #DEB2EE;
$color-grid--5: #88D9A0;
$color-grid--7: #EC9FA3;
$color-grid--8: #FD9F85;


$break-s: 480px;
$break-l: 1400px;


$grid-bottom: 50px;
