.container {
  padding: 20px 40px;
}


.grid__col--12,
.grid__col--6,
.grid__col--3 img
{
  @include flex;
}


div.theme__colors {
  padding: 15px 0;
  padding-left: 10px;
  border-radius: 5px;
  @extend %headline-color;
}


  .grid__col--12.theme__colors {
    background-color: $color-grid--12;
    @extend %grid-space;
  }
  .grid__col--6.theme__colors {
    background-color: $color-grid--6;
    @extend %grid-space;
  }
  .grid__col--4.theme__colors {
    background-color: $color-grid--4;
    @extend %grid-space;
  }
  .grid__col--3.theme__colors {
    background-color: $color-grid--3;
    @extend %grid-space;
  }
  .grid__col--5.theme__colors {
   background-color: $color-grid--5;
   @extend %grid-space-single;
 }
 .grid__col--7.theme__colors {
   background-color: $color-grid--7;
   @extend %grid-space;
 }
 .grid__col--8.theme__colors {
   background-color: $color-grid--8;
   @extend %grid-space-single;
 }



@include media-l {

  .container {
    padding: 20px 100px;
  }

  .grid__row,
  .grid__col--6,
  .grid__col--12  {
    @include flex;
    justify-content: space-between;
  }

  .grid__col--8 {
    width: 60%;
  }

  .grid__col--4{
    width: 40%;
  }

  .grid__col--12.theme__colors {
    width: 100%;
    @include grid-space-L;
    }

  .grid__col--6.theme__colors {
    width: 50%;
    @include grid-space-L;
    }

  .grid__col--4.theme__colors {
    width: 33%;
    @include grid-space-L;
  }

  .grid__col--3.theme__colors {
    width: 25%;
    @include grid-space-L;
  }

  .grid__col--5.theme__colors {
    width: 40%;
    @include grid-space-L-single;
    margin-right: 15px;
  }

  .grid__col--7.theme__colors {
    width: 60%;
    @include grid-space-L-single;
  }

  .grid__col--8.theme__colors {
    width: 66%;
    @include grid-space-L-single;
    margin-right: 15px;
  }

  .grid__col--7.theme__colors.centered {
    margin: auto;
  }
}
